.blog-page {
    background: #00000025;
    padding: 20px 40px;
    padding-bottom: 50px;
}

.blog-page h2 {
    font-weight: 700;
    color: #333;
}

.blog-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #00ffd5;
}

.blogcard-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}